functions_nested_loops/5-sign
functions_nested_loops/5-main.c
functions_nested_loops/6-main.c
functions_nested_loops/6-abs
functions_nested_loops/7-main.c
functions_nested_loops/7-last_digit
functions_nested_loops/8-24
functions_nested_loops/8-main.c
functions_nested_loops/9-times_table
functions_nested_loops/9-main.c
functions_nested_loops/10-main.c
functions_nested_loops/10-add
